co<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Trabalho Prático de BCC321</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/"> Trabalho Prático de BCC321</a>
    </nav>

    <div class="container pt-4">{% block body %} {% endblock %}</div>
    <div class="container pt-4">
      <a href="/consulta1" class="btn btn-primary btn-sm mb-2">exibir lista de usuarios que (condicao consulta 1)</a>
      <a href="/consulta2" class="btn btn-primary btn-sm mb-2">exibir lista de usuarios que (condicao consulta 2)</a>
      <a href="/consulta3" class="btn btn-primary btn-sm mb-2">exibir lista de usuarios que (condicao consulta 3)</a>
    </div>
    <script>
      const btnDelete = document.querySelectorAll(".btn-delete");
      if (btnDelete) {
        const btnArray = Array.from(btnDelete);
        btnArray.forEach((btn) => {
          btn.addEventListener("click", (e) => {
            if (!confirm("Are you sure you want to delete it?")) {
              e.preventDefault();
            }
          });
        });
      }

      $(document).ready(function () {
        $("#example").DataTable({
          aLengthMenu: [
            [3, 5, 10, 25, -1],
            [3, 5, 10, 25, "All"],
          ],
          iDisplayLength: 3,
        });
      });
    </script>
  </body>
</html>
